@import "./styles/variables";

html {
  min-height: 110vh;
}

body {
  margin: 0;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: $color-dark-background;
  color: #fff;
}
