.no-results-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50vh;

    .no-results {
        width: 35vh;
        height: 35vh;
        align-self: center;
    }
}

.arts-container {
    margin-top: 40px;
}