.file-upload-container {
    padding-left: 30px;
}

.dropzone-tooltip {
    margin: 60px;
}

.img-preview-container img {
    max-height: 207px;
    object-fit: contain;
    width: 100%;
}