.filters-container {
    background:#101010bf;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
        text-transform: uppercase;
        margin-right: 10px;
        font-size: 1.2rem;
    }
}

.input-container {
    background: #101010bf;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-right: 10px;
    }
}
